/* Navegación */
.navbar {
    margin-bottom: 30px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
}

.navbar-nav .nav-link.active {
    background-color: #0056b3;
    color: #fff !important;
}

.navbar-toggler-icon {
    background-color: #fff;
}

/* Secciones */
section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Listas y Código */
ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #e9ecef;
    padding: 3px 5px;
    border-radius: 5px;
}

pre code {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 5px;
    display: block;
    overflow-x: auto;
}

/* Imágenes */
img.img-fluid {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Diseño Responsivo */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.1rem;
    }

    .navbar-nav .nav-link {
        font-size: 1rem;
    }

    section h2 {
        font-size: 1.75rem;
    }
}

/* Animaciones y Transiciones */
.navbar-nav .nav-link {
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    background-color: #343a40;
}

button:hover {
    opacity: 0.8;
}
